## Autograded Notebook (Canvas & CodeGrade)

This notebook will be automatically graded. It is designed to test your answers and award points for the correct answers. Following the instructions for each Task carefully.

### Instructions

* **Download this notebook** as you would any other ipynb file
* **Upload** to Google Colab or work locally (if you have that set-up)
* **Delete `raise NotImplementedError()`**
* Write your code in the `# YOUR CODE HERE` space
* **Execute** the Test cells that contain `assert` statements - these help you check your work (others contain hidden tests that will be checked when you submit through Canvas)
* **Save** your notebook when you are finished
* **Download** as a `ipynb` file (if working in Colab)
* **Upload** your complete notebook to Canvas (there will be additional instructions in Slack and/or Canvas)

# Unit 1 Sprint 1 Module 2

## EDA and Features

### Objectives

* Load and csv files
* Use basic Pandas function for data exploration
* Understand the purpose of feature engineering

#### Total notebook points: 13

**Task 1** - Load a dataset via its URL

* Create a Python list named `column_headers` with the following items: `'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income'`.  Lists have the form `listname = ['element 1', 'element 2', element 3']`
* Load the file from the URL provided below using the `column_headers` list you created to name your columns: set the `pd.read_csv()` to `column_headers` using `names =`.  
* Name the DataFrame `adult`

In [1]:
# Task 1
import pandas as pd
import numpy as np

# URL for the dataset
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

### BEGIN SOLUTION

# Create the column headers list
column_headers = ['age',
                  'workclass',
                  'fnlwgt', 
                  'education',
                  'education-num',
                  'marital-status',
                  'occupation',
                  'relationship',
                  'race',
                  'sex',
                  'capital-gain',
                  'capital-loss',
                  'hours-per-week',
                  'native-country',
                  'income']

adult = pd.read_csv(data_url, names=column_headers)

### END SOLUTION

# Print out your DataFrame
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**Task 1 Test**

In [2]:
# Task 1 - Test

# These tests are for you to check your work before submitting
assert isinstance(column_headers, list), 'Have you created a list of header names?'
assert len(column_headers) == 15, 'Did you include the correct number of items in the column_headers list?'
assert isinstance(adult, pd.DataFrame), 'Have you created a DataFrame named adult?'

# These tests will be completed when you submit your notebook for autograding
### BEGIN HIDDEN TESTS
assert adult.shape == (32561, 15), 'Double check your DataFrame size.'
### END HIDDEN TESTS

**Task 2** - Look at the first and last rows of the DataFrame

* Assign the first **ten (10)** rows of the `adult` DataFrame to `adult_head`
* Assign the last **ten (10)** rows of the `adult` DataFrame to `adult_tail`

In [3]:
# Task 2

### BEGIN SOLUTION
adult_head = adult.head(10)
adult_tail = adult.tail(10)
### END SOLUTION

# Optional: print out adult_head and adult_tail

**Task 2 Test**

In [4]:
# Task 2 - Test

# These tests are for you to check your work before submitting
assert isinstance(adult_head, pd.DataFrame), 'Have you created a DataFrame named adult_head?'
assert isinstance(adult_tail, pd.DataFrame), 'Have you created a DataFrame named adult_tail?'

# These tests will be completed when you submit your notebook for autograding
### BEGIN HIDDEN TESTS
assert adult_head.shape == (10, 15), 'Double check your adult_head DataFrame size.'
assert adult_tail.shape == (10, 15), 'Double check your adult_tail DataFrame size.'
### END HIDDEN TESTS

**Task 3** - Variable data types

For your `adult` DataFrame, determine the data types for the variables.

* Count the number of `int64` variable types and assign to `number_int64` (your value should be an integer)
* Count the number of `object` variable types and assign to `number_object` (your value should be an integer)

There are different ways to find the data types of the columns in a DataFrame. All you need to do for this task is to count the number of each data type and assign to the corresponding variable.

In [5]:
# Task 3

### BEGIN SOLUTION
# Display the data types
adult.dtypes
number_int64 = 6
number_object = 9
### END SOLUTION

**Task 3 Test**

In [6]:
# Task 3 - Test

# Hidden tests - you will see the results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert number_int64 == 6, 'Double check the number of int64 variables.'
assert number_object == 9, 'Double check the number of object variables.'
### END HIDDEN TESTS

**Task 4** - DataFrame dimensions

* Find the dimensions of your DataFrame and assign result to the variable `adult_dimension`. Your variable should be a *tuple* and the row dimension should be listed first.

Hint: A tuple looks like this: (1, 2) - a tuple is a collection which is ordered and unchangeable. You can use the function `type(your_variable)` to print the variable type.

Hint 2: The `shape` method returns a tuple - convenient!

In [7]:
# Task 4

### BEGIN SOLUTION
adult_dimension = adult.shape
### END SOLUTION

# Print out the shape
print(adult_dimension)

(32561, 15)

**Task 4 Test**

In [8]:
# Task 4 - Test

assert isinstance(adult_dimension, tuple), 'Have you created a tuple named adult_dimension?'

# Hidden tests - you will see the results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert adult_dimension == (32561, 15), 'Check your dimensions and make sure you have rows listed first.'
### END HIDDEN TESTS

**Task 5** - Missing values

Are there any missing values in the dataset? Let's check!

* Check for missing values using `.isnull().sum()`
* Count the number of missing values and assign the value to the variable `adult_missing`. Your variable should be an integer.

In [9]:
# Task 5

### BEGIN SOLUTION
print(adult.isnull().sum())
# There are no missing values
adult_missing = 0
### END SOLUTION

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

**Task 5 Test**

In [10]:
# Task 5 - Test

# Hidden tests - you will see the results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert adult_missing == 0, 'Check you missing values sum - there should be no missing values.'
### END HIDDEN TESTS

**Task 6** - Viewing DataFrame statistics

Let's look at some of the *summary statistics* of our dataset. We can use the .describe() function in order to see the summary statistics of the numeric columns.

Look at the statistics for the `adult` DataFrame and then complete the following two tasks:

* Find the value for the mean `age` and assign it to the variable `mean_age` (your value should be a float and defined to two decimal places)
* Find the standard deviation (std) for the `hours-per-week` variable and assign it to `std_hpw` (your value should be a float and defined to two decimal places)

Are there any values shown that might be a code for missing data?  We'll learn how to change the values in a DataFrame in the next module.

In [11]:
# Task 6

### BEGIN SOLUTION

# View the statistics
adult.describe()

# Answer:
# The values of 99999 for capital-gain
# and 99 for hours-per-week are code for missing values

mean_age = 38.58
std_hpw = 12.35

### END SOLUTION

**Task 6 Test**

In [12]:
# Task 6 - Test

# Hidden tests - you will see the results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert round(mean_age) == 39, 'Check the results you read from your describe table'
assert round(std_hpw) == 12, 'Check the results you read from your describe table'
### END HIDDEN TESTS

**Task 7** - Summary statistics for non-numeric columns

We have some columns in this dataset that are non-numeric or object columns. This is usually a string object. Let's use the `describe()` function again but include the argument `exclude='number'` to exclude the numeric columns.

Using the results of `describe(exclude='number')`, complete the following two tasks:

* Find the number of unique `education` values and assign it to `unique_edu` (your value should be an integer)
* Find the number of times the most frequent observation for `income` occurs and assign it to `freq_income` (your value should be an integer) *(Note: this is not the income value itself, just how many times it occurs)*

In [13]:
# Task 7

### BEGIN SOLUTION

# View the non-numeric statistics
adult.describe(exclude='number')

unique_edu = 16
freq_income = 24720

### END SOLUTION

In [14]:
adult.describe(exclude='number')

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,income
count,32561,32561,32561,32561,32561,32561,32561,32561,32561
unique,9,16,7,15,6,5,2,42,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,22696,10501,14976,4140,13193,27816,21790,29170,24720

**Task 7 Test**

In [15]:
# Task 7 - Test

# Hidden tests - you will see the results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert round(unique_edu) == 16, 'Check the results from your describe table'
assert round(freq_income) == 24720, 'Check the results from your describe table'
### END HIDDEN TESTS

**Task 8** - Finding value counts

Let's look more specifically at the `relationship` column and perform a count of the number of observations for each category. We can see how many categories we have by using the `.unique()` method on the column. Then, we can use `.value_counts()` to count the number of observations in each category.

* View the unique values in the `relationship` column with `.unique()`
* View the number of observations for each value with `.value_counts()`
* Find the counts for `Other-relative` and assign to the variable `adult_other_rel`

In [16]:
# Task 8

### BEGIN SOLUTION

# View the non-numeric statistics
adult['relationship'].unique()
adult['relationship'].value_counts()

adult_other_rel = 981

### END SOLUTION

**Task 8 Test**

In [17]:
# Task 8 - Test

# Hidden tests - you will see the results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert round(adult_other_rel) == 981, 'Did you select the correct observation?'
### END HIDDEN TESTS

**Task 9** - Create a Series

A column of a DataFrame is a pandas Series. Using the `adult` DataFrame, create a Series from the `occupation` column.

* Create a Series from the `occupation` column and name it `adult_occup`

In [18]:
# Task 9

### BEGIN SOLUTION
adult_occup = adult['occupation']
### END SOLUTION

**Task 9 Test**

In [19]:
# Task 9 - Test

# These tests are for you to check your work before submitting
assert isinstance(adult_occup, pd.Series), 'Have you created the correct Series?'

# Hidden tests - you will see the results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert adult_occup.name == 'occupation', 'Double check that you have the correct column.'
### END HIDDEN TESTS

## Feature Creation

Next you will focus on learning how to create new features from exisiting data. There are many ways to create features in your datasets; we'll only focus on a few here. Let's get started!

**Task 10** - Load the data set

* Using the provided URL, load the Ames Housing Data into a DataFrame called `house`
* View your DataFrame

In [20]:
# Task 10

# Imports
import pandas as pd

# Dataset URL

data_url = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Housing/Ames%20Iowa%20Housing%20Data.csv'

### BEGIN SOLUTION
house = pd.read_csv(data_url)
### END SOLUTION

# View your DataFrame

**Task 10 Test**

In [21]:
# Task 10 - Test

# These tests are for you to check your work before submitting
assert isinstance(house, pd.DataFrame), 'Have you created a DataFrame named house?'

# Hidden tests - you'll see results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert house.shape == (1460, 81), 'Double check your DataFrame size.'
### END HIDDEN TESTS

**Task 11** - Create a new feature

Now that we have the data loaded, we're going to create a new feature. We can use the some of the existing features, in this case, the total number of bathrooms in one column.

* Create a new variable called `Total_Bathrooms` that contains the total number of full and half bathrooms in the house.  

*Hint: Identify all the columns with bath in the title and add their values together. There are four columns to add together.  Add one to the total for each full or half bathroom.*

In [22]:
# Task 11

### BEGIN SOLUTION
house['Total_Bathrooms'] = house['BsmtFullBath'] + \
                           house['BsmtHalfBath'] + \
                           house['FullBath'] + \
                           house['HalfBath']
### END SOLUTION

**Task 11 Test**

In [23]:
# Task 11 - Test

assert 'Total_Bathrooms' in house.columns, 'Did you add the new column?'

# Hidden tests - you'll see results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert house.shape == (1460, 82), 'Double check your DataFrame size.'
### END HIDDEN TESTS

# View all the bathroom columns
house[['Total_Bathrooms','BsmtFullBath','BsmtHalfBath','FullBath','HalfBath']].head()

   Total_Bathrooms  BsmtFullBath  BsmtHalfBath  FullBath  HalfBath
0                4             1             0         2         1
1                3             0             1         2         0
2                4             1             0         2         1
3                2             1             0         1         0
4                4             1             0         2         1

**Task 12** - Create a new feature column

Next we're going to create another new column by "encoding" an existing column. Using the `LotArea` column, we'll assign values according the the area of the lot.

* Create a new column called `Large_Lot` that takes on the following values:
    * 0 when `LotArea` is **less** than 10,000
    * 1 when `LotArea` is **greater than or equal** to 10,000

In [24]:
# Task 12

### BEGIN SOLUTION
house.loc[house['LotArea'] >= 10000, 'Large_Lot'] = 1  
house.loc[house['LotArea'] < 10000, 'Large_Lot'] = 0
### END SOLUTION

# View the new column
#house[['LotArea', 'Large_Lot']].head()

In [30]:
house['Large_Lot']=[1 if x >= 10000 else 0 for x in house['LotArea']]

**Task 12 Test**

In [ ]:
# Task 12 - Test

assert 'Large_Lot' in house.columns, 'Did you add the Large_Lot column?'

# Hidden tests - you'll see results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert house.shape == (1460, 83), 'Double check your DataFrame size.'
### END HIDDEN TESTS

**Task 13** - Create another feature

Let's continue with creating new features. This time, we'll focus on encoding for the sale month.

* Create a new column called `Summer_Sale` that takes on the following values:
    * 0 if the sale month was in September - May (`MoSold` = 1-5, 9-12)
    * 1 if the sale month was in June, July or August (`MoSold` = 6, 7 or 8)

In [ ]:
# Task 13

### BEGIN SOLUTION
house.loc[(house['MoSold'] >= 6 ) & (house['MoSold'] <= 8 ), 'Summer_Sale'] = 1
house.loc[(house['MoSold'] < 6) | (house['MoSold'] > 8), 'Summer_Sale'] = 0  
### END SOLUTION

# View the new column
house[['MoSold', 'Summer_Sale']]

      MoSold  Summer_Sale
0          2          0.0
1          5          0.0
2          9          0.0
3          2          0.0
4         12          0.0
...      ...          ...
1455       8          1.0
1456       2          0.0
1457       5          0.0
1458       4          0.0
1459       6          1.0

[1460 rows x 2 columns]

**Task 13 Test**

In [ ]:
# Task 13 - Test

assert 'Summer_Sale' in house.columns, 'Did you add the Summer_Sale column?'

# Hidden tests - you'll see results when you submit to Canvas
### BEGIN HIDDEN TESTS
assert house.shape == (1460, 84), 'Double check your DataFrame size.'
### END HIDDEN TESTS